@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;700&family=Kurale&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

:root{
    --cor0: #F2F2F2;
    --cor1: #D9D9D9;
    --cor2: #BFBFBF;
    --cor3: #8C8C8C;
    --cor4: #404040;

    --fonte-cabecalho: 'Bungee Inline', cursive;
    --fonte-titulos: 'Kurale', serif;
    --fonte-p: 'Harmattan', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor1));
}

header nav{
    text-align: right;
    padding-top: 7px;
}

header nav.menu a{
    text-decoration: none;
    padding-right: 10px;
    background-color: var(--cor4);
    color: white;
    border-radius: 5px;
    padding: 10px;
}

header a:hover{
    text-decoration: underline;
}

header h1{
    font: normal 400 2.5vw var(--fonte-cabecalho);
    text-align: center;
    margin-top: 30px;
    padding-bottom: 10px;
}

main{
    background-color: var(--cor0);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.288);
}

.subtitulo{
    font: normal 400 2vw var(--fonte-titulos);
}

.subparagrafo{
    margin-bottom: 10px;
    font: normal 400 1em var(--fonte-titulos);
    text-indent: 0px;
}

main h1{
    font: normal 400 2.5em var(--fonte-titulos);
}

main h2{
    font: normal bold 1.5em var(--fonte-titulos);
    padding: 10px;
}

main p{
    font: normal 400 1.5em var(--fonte-p);
    text-align: justify;
    text-indent: 30px;
    line-height: 30px;
}

main img{
    width: 100%;
}

table{
    width: 500px;
    height: 100px;
    border: 2px solid black;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    text-align: justify;
    padding: 8px;
    font: normal 400 1.2em var(--fonte-p);
}

td.coluna1{
    font-weight: bolder;
    background-color: var(--cor1);
}   

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 5px;
    }
    
.video iframe, .video object, .video embed, .video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

aside{
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    background-color: var(--cor2);
    text-align: justify;
    text-indent: 30px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.288);
}

aside h3{
    font: normal bolder 2em var(--fonte-titulos);
    text-align: center;
}

aside h4{
    font: normal bolder 1.3em var(--fonte-titulos);
    padding-bottom: 5px;
}

aside p{
    font: normal 400 1.2em var(--fonte-p);
    line-height: 30px;
}

footer{
    text-align: center;
    background-color: var(--cor4);
    color: white;
    font: normal 400 var(--fonte-p);
}

footer p{
    padding-top: 20px;
    padding-bottom: 8px;
}

footer img{
    padding: 10px;
}